# App
NEST_PORT=3200
CORS_ORIGIN="http://localhost:3201"

# DB
DATABASE_URL="postgresql://postgres:postgres@localhost:5446/flashsale?schema=public"
REDIS_URL="redis://localhost:6379"

# RMQ
RABBITMQ_URL="amqp://flashsale:flashsale@localhost:5672"
RABBITMQ_PURCHASE_QUEUE="purchase.events"

# Others
SALE_CACHE_TTL_MS=1000
COMMAND_SECRET="command-secret"